@page
@model Project.Pages.IndexModel
@using albumsEntities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* html and css  *@
@{
    Layout = "_Layout";
}
@* insert link *@
<a class="btn" asp-page="/Insert">Add Album</a>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist Name</th>
            <th>Details</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Albums)
        {
            <tr>
                <td>@a.Title</td>
                <td>@a.Artist.Name</td>
                @* 3 links  *@
                <td>
                    <a asp-page="/ViewAlbumDetails" asp-route-AlbumID="@a.AlbumId">Details</a>
                </td>
                <td>
                    <a asp-page="/Delete" asp-route-AlbumID="@a.AlbumId">Delete</a>
                </td>
                <td>
                    <a asp-page="/Update" asp-route-id="@a.AlbumId">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>